.one {
    font-size: 10 + 10px;
}

// 이런식에 연산이 되지 않도록 주의해야 합니다. 예상치 못한 결과가 나올 수 있습니다.
.two {
    font-size: 10 + 10px;
}

.three {
    font-size: 10px - 3px;
}

// javascript가 아니기 때문에 더 엄밀한 여러가지 test를 하지 않지만 단위는 맞춰주시고, 연산을 하세요.
.four {
    font-size: 10 - -3px;
}

.five {
    font-size: 10px -3px; // 10 - 3이 아니라 -3이 음수로 인식되어 10px, -3px이 같이 들어갑니다.
}

.six {
    font-size: 10px * 3;
}

.seven {
    font-size: (10px / 3);
}

.eight {
    font-size: 10px % 3px;
}