// content는 없어도 되는 문법 아니야? 라는 오해가 있을 수 있지만, 용도가 확실한 문법입니다.

// @mixin sample {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 200px;
// }

// .one {
//     @include sample;
//     background-color: red;
// }

// .two {
//     @include sample;
//     background-color: blue;
// }

@mixin sample {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    @content;
}

.one {
    @include sample {
        background-color: red;
    }
}

.two {
    @include sample {
        background-color: green;
    }
}