// Scss
.profile-user {
    background-image: url("../assets/user.jpg");
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.comment-user {
    @extend .profile-user;
    border-width: 10px;
}