@function pow($base, $exponent) {
    $result: 1;

    @for $_ from 1 through $exponent {
        $result: $result * $base;
    }

    @return $result;
}

.sidebar {
    float: left;
    margin-left: pow(4, 3) * 1px;
}