/* font */
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Bold';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff')
    format('woff');
  font-weight: 700;
  font-style: normal;
}

/* reset */
body,
h1,
h2,
h3,
p {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
h1,
h2,
h3 {
  font: inherit;
}

button:enabled {
  cursor: pointer;
}
img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* 실습 */
body {
  font-family: 'Pretendard-Regular', sans-serif;
}
.card {
  width: 288px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.1);
}

/* 카드 header 부분 */
.card header {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px 16px 12px 16px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.c-h-text {
  overflow: hidden;
}

/* 공통속성 */
.fwb {
  font-family: 'Pretendard-Bold';
  color: #29363d;
}
.small-font {
  font-size: 12px;
  color: #5a6a72;
}

/* 말줄임 - 한줄 */
.ell1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ell2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.6;
  height: calc(1em * 2 * 1.6);
}

.thumbnail {
  width: 100%;
  aspect-ratio: 288/196;
  object-fit: cover;
}

.c-content {
  padding: 10px 16px 20px 16px;
}
.c-content .ell2 {
  margin-bottom: 16px;
}

.read {
  font-size: 14px;
  text-decoration: underline;
  width: 60px;
  padding: 3px 6px;
  /* ::after 기준  */
  position: relative;
}

.read::after {
  content: '';
  display: block;

  width: 4px;
  height: 4px;

  position: absolute;
  right: 0;
  top: 50%;
  border-style: solid;
  border-color: #29363d;
  border-width: 2px 2px 0 0;

  transform: translate(-10px, -50%) rotate(45deg);
  transition: all 0.3s;
}

.read:hover::after {
  border-color: royalblue;
  transform: translate(0, -50%) rotate(405deg);
}

/* 버튼 */
.card {
  position: relative;
}
.btn-group {
  position: absolute;
  bottom: 16px;
  right: 16px;

  display: flex;
  gap: 8px;
}

.btn-group button {
  border: 0;
  background: none;
  padding: 0;
}
.btn-group button img {
  width: 32px;
  vertical-align: top;
}

.card-list {
  display: flex;
  gap: 32px 24px;
  flex-wrap: wrap;
}

/* 새소식 */
.notice {
  /* background-color: skyblue; */
  width: 1224px;

  /* 좌우 여백 각 30px을 주기위해서 */
  max-width: calc(100% - (30px * 2));
  margin: 0 auto;
}
.notice h2 {
  font-size: 30px;
  margin-bottom: 32px;
}
