/* 폰트 */
@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}
/* 초기화 */
body,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

.a11y-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.login-wrap {
  /* background: url(../img/log-in-area.png) no-repeat 0 0 / 350px 140px; */
  /* background-image: url(../img/log-in-area.png);
  background-repeat: no-repeat;
  background-position: -1px -1px;
  background-size: 350px 140px; */
  width: 350px;
  height: 140px;
  border-radius: 5px;
  border: 1px solid #dbdbdb;
  box-sizing: border-box;
  padding: 18px 15px;
  font-size: 12px;
}
.btn-login {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #711bff;
  margin: 16px 0;
  border-radius: 4px;
}
.btn-login img {
  width: 64px;
  margin-right: 3px;
}

.login-link {
  color: #767676;
}
.login-link img {
  width: 16px;
  vertical-align: middle;
  margin-right: 4px;
}
.login-link span {
  margin: 0 2px;
}

/* float */
/* .login-link a:last-child {
  float: right;
} */

.login-link {
  display: flex;
  justify-content: space-between;
}
