/* import 구글 폰트 삽입 */
@import url('https://fonts.googleapis.com/css2?family=Bagel+Fat+One&display=swap');

/* font-face 눈누 폰트 삽입 */
@font-face {
  font-family: 'PyeongChangPeace-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-style: normal;
}

.font-pc {
  font-family: 'PyeongChangPeace-Bold', sans-serif;
}

body {
  color: red;
}
h1,
h2 {
  font-weight: normal;
}
h1 {
  color: inherit;
  font-family: 'Black Han Sans', sans-serif;
}
strong {
  border-bottom: 5px solid currentColor;
}

h2 {
  color: #999;
  font-family: 'Bagel Fat One', cursive;
}
