$white: #fff;
$dark-black: #1f1f1f;
$light-black: #313030;

$sub-color: #67438f;
$main-color: #7e438f;

$font-13: 13px;
$font-15: 15px;
$font-22: 22px;

$font-main: "Noto Sans KR", sans-serif;
$font-point: "Poppins", sans-serif;
