.em {
  /* font-size: 2.5em; */
  /* 40px / 16px(부모 body) = 2.5 */
  font-size: 1.25em;
  /*
    부모인 body 폰트 사이즈 16px; 
    20px / 16px = 1.25
  */
}

.em .btn1 {
  /* font-size: 0.5em; */
  /* 20px / 40px(부모 .em) = 0.5 */
  font-size: 0.8em;
  /* 16px / 20px(부모 .em) = 0.8 */
}
.em .btn2 {
  /* font-size: 1em; */
  /* 40px / 40px(부모 .em) = 1 */
  font-size: 1.6em;
  /* 32px / 20px(부모 .em) = 1.6 */
}
.em .btn3 {
  /* font-size: 2em; */
  /* 80px / 40px(부모 .em) = 2 */
  font-size: 2.4em;
  /* 48px / 20px(부모 .em) = 2.4 */
}

.em .btn1,
.em .btn2,
.em .btn3 {
  padding: 0.25em 1em;
  border-radius: 0.25em;
}
